body
{
   background-position: center;
   background-size: cover;
}
.heading{
    width: 100%;
}
.h3{
    font-family: 'Poppins', sans-serif;
    font-size: 50px;
    color: #fff;
    text-align: center;
    animation: glow 1s ease-in-out infinite alternate;
    display:inline;
}  
 @keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
  }
.heading button{
   border: 1px solid whitesmoke;
   float: right;
   margin-top: 10px;
}
.start{
    width: 15%;
   font-family: 'Franklin Gothic Medium',sans-serif;
   font-size: 20px;
   margin-bottom: 10px;
}
canvas{
  border-radius: 10px;
  box-shadow: 5px 5px 8px aliceblue;
  margin-bottom: 10px;
}
.footer{
  width: 100%;
  bottom: 0;
  background-color: lightsteelblue;
  line-height: 30px;
  font-family: monospace;
  color: dimgray;
  font-size: 16px;
  position: fixed;
}
.start{
  display: inline-block;
  text-decoration: none;
  width: 15%;
  font-family: 'Franklin Gothic Medium',sans-serif;
  font-size: 20px;
  margin-bottom: 40px;
}
#restart:hover {
  color: #111;
  background: cyan;
  box-shadow: 0 0 50px cyan;
  border: none;
}
.btn-success:hover {
  color: #111;
  background:lawngreen;
  box-shadow: 0 0 50px lawngreen;
  border: none;
}
.btn-warning:hover {
  color: #111;
  background:rgb(214, 236, 10);
  box-shadow: 0 0 50px rgb(214, 236, 10);
  border: none;
}
.start:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.game_button{
  position: relative;
  text-align: center;
  width: 10%;
  padding: 10px;
  font-family: cursive;
  border-radius: 10px;
}
.modal-dialog{
  width: 45%;
}
ol{
  text-align: left;
  font-family: sans-serif;
  font-weight: 600;
}